*.bak

/milestone1/10_sim/*
!/milestone1/10_sim/filelist.f
!/milestone1/10_sim/checksyntax.submit
!/milestone1/10_sim/sim.submit

/milestone1/40_quartus/wrapper/db/*
/milestone1/40_quartus/wrapper/incremental_db/*
/milestone1/40_quartus/wrapper/simulation/*

/milestone1/40_quartus/wrapper/output_files/*
!/milestone1/40_quartus/wrapper/output_files/*.sof

/milestone2/10_sim/*
!/milestone2/10_sim/filelist.f
!/milestone2/10_sim/checksyntax.submit
!/milestone2/10_sim/sim.submit

/milestone2/40_quartus/wrapper/db/*
/milestone2/40_quartus/wrapper/incremental_db/*
/milestone2/40_quartus/wrapper/simulation/*

/milestone2/40_quartus/wrapper/output_files/*
!/milestone2/40_quartus/wrapper/output_files/*.sof